.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .Title_table {
    text-align: center;
  }
  
  .AddBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .deleteBtn,
  .editBtn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table th,
  table td {
    padding: 8px;
    border: 1px solid #ccc;
  }
  
  table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tr:hover {
    background-color: #ddd;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 100%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .card-body {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .btn-primary {
    background-color: #4CAF50;
  }
  
  .btn-primary:hover {
    background-color: #45a049;
  }
  .form-control {
  /* Kiểu dáng cho input */
  width: 60%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  /* Kiểu dáng cho button */
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  /* Kiểu dáng khi hover vào button */
  background-color: #0056b3;
}


  
  